<div class="nav-padding" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="text-color">
    <mat-icon>insert_emoticon</mat-icon>
  </div>
  <div fxLayoutGap="20px">
    <div class="text-color" fxLayoutAlign="center center">
      <mat-slide-toggle [(ngModel)]="appService.isDarkMode" color="warn" (click)="changeTheme($event)"></mat-slide-toggle>&nbsp;&nbsp;
      <span *ngIf="!appService.isDarkMode" fxLayoutAlign="center center">
        <mat-icon>mode_night</mat-icon>
      </span>
      <span *ngIf="appService.isDarkMode">
        <mat-icon>wb_sunny</mat-icon>
      </span>
      <button class="green" *ngIf="!appService.isSignin" (click)="signin()" mat-flat-button>Sign In</button>
      <button class="green" *ngIf="appService.isSignin" (click)="signout()" mat-flat-button color="light-green">Sign Out</button>
    </div>
  </div>
</div>