<div fxLayout="row" class="footer-padding" fxLayoutGap="15px" fxLayoutAlign="center center">
  <button mat-icon-button>
    <mat-icon class="text-color">home</mat-icon>
  </button>
  <mat-icon class="text-color" matBadge="1" matBadgeColor="warn">move_to_inbox</mat-icon>
  <button mat-icon-button>
    <mat-icon class="text-color">insert_photo</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="text-color">payments</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="text-color">format_list_numbered</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="text-color">more_vert</mat-icon>
  </button>
</div>