<div class="container-padding">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50">
      <h2>{{formObj.form.name}}</h2>
    </div>
    <div>
      <button mat-stroked-button (click)="openList()" class="text-color" cdkOverlayOrigin #lookupTrigger="cdkOverlayOrigin">
        <img src="assets/parrot.png" height="22">&nbsp;&nbsp;Lists
      </button>
    </div>
  </div>
  <div fxLayout="column">
    <form [formGroup]="runForm">
      <mat-form-field fxFlex>
        <mat-label>Enter new List Item</mat-label>
        <input matInput type="text" formControlName="item" placeholder="Enter new List Item" required>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="saveIdb()" color="primary" [disabled]="!runForm.valid" runForm.type="submit">
      Add ID to List
    </button>
  </div>
  <br>
  <div fxLayout="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td (click)="edit(i, element)" class="hand" mat-cell *matCellDef="let element; let i = index">
          <span *ngIf="selectedIdx !== i">{{element.item}}</span>
          <span *ngIf="selectedIdx === i">
            <mat-form-field>
              <input matInput type="text" [formControl]="id">
            </mat-form-field>
            <button (click)="updateIdb()" mat-button color="primary">Save</button>
            <button (click)="deleteIdb(i)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>