<div class="column" fxFlexFill>
  <mat-sidenav-container class="list-container" [ngStyle]="{'background-color': appService.canvasBackground}" (backdropClick)="close('backdrop')"
    autosize>
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" class="list-menu" mode="over" [(opened)]="appService.isListMenu" position="end">
      <app-form-lists></app-form-lists>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-list-run *ngIf="!appService.isData" [formObj]=appService.formObj></app-list-run>
      <app-data *ngIf="appService.isData"></app-data>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>