.nav-padding {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-padding {
  height: 96px;
  padding-top: 20px;
  padding-left: 20px;
}

.container-padding {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.title-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.text-color {
  color: #959595;
}

.hand {
  cursor: pointer;
}

.admin-container {
  margin-top: 69px;
}


.list-container {
  height: 100%;
}

.link-overlay {
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
  background: white;
  min-width: 600px;
}

.files-padding {
  padding-right: 5px;
  padding-bottom: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.list-menu {
  width: 130px;
}

.padding {
  padding: 20px;
}

.form-container {
  width: 100%;
}

footer {
  position:fixed;
  bottom:0px;
  width:100%;
}

button.mat-flat-button {
  border-radius: 0;
}